.container-fluid.text-center
  %h1 Tiny Game

  .col-md-6.col-md-offset-3
    %h2 Latest Builds

    .col-md-4
      %h4 Windows x32
      - if !@x32_builds.empty?
        = link_to 'Download', aws_url(@x32_builds.first.url)

    .col-md-4
      %h4 Windows x64
      - if !@x64_builds.empty?
        = link_to 'Download', aws_url(@x64_builds.first.url)

    .col-md-4
      %h4 OSX
      - if !@osx_builds.empty?
        = link_to 'Download', aws_url(@osx_builds.first.url)

  .col-md-6.col-md-offset-3
    %h2 Previous Builds

    .col-md-4
      %h4 Windows x32
      - @x32_builds.each do |build|
        %p= link_to build.created_at.strftime('%Y-%m-%d'), aws_url(build.url)

    .col-md-4
      %h4 Windows x64
      - @x64_builds.each do |build|
        %p= link_to build.created_at.strftime('%Y-%m-%d'), aws_url(build.url)

    .col-md-4
      %h4 OSX
      - @osx_builds.each do |build|
        %p= link_to build.created_at.strftime('%Y-%m-%d'), aws_url(build.url)

