!!!
%html
  %head
    %title Willy's Website
    = csrf_meta_tags

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'

  %body
    = render 'header'
    = render 'flash'
    = yield
    = render 'footer'
